# =======================================
.gitignore для C# / .NET проектов

# =======================================
# Build results
[Bb]in/
[Oo]bj/
bin/
obj/
# Visual Studio files
*.user
*.suo
*.sdf
*.opensdf
*.vs/
.vs/
# JetBrains Rider
.idea/
# Logs and temp
*.log
*.tmp
debug.log
*.temp
# Environment secrets
.env
*.env
# OS files
.DS_Store
Thumbs.db
# NuGet
packages/
*.nupkg
